about:
  code_repo: https://github.com/campfred/tg-previewsynth-bot
  owner: 12345678
  # status_updates: # Optional
  #   chat: -12345678901234
  #   # topic: 1234 # Optional
  # status_message: | # Optional
  #   Spotify and YouTube Music are not being nice to multiple aggregation services including Odesli! 🫠 <i>(the one I'm using for converting music links!)</i>
  #   I'll still try to convert those links and might fail. So, hang tight while they fix their oopsie! 🤞
links:
  # - name: Example
  #   origins:
  #     - https://contoso.com
  #   destinations:
  #     - https://example.com # First is used as default
  #     - https://example2.com # Proposed only through in-line queries
  #   enabled: false
  #   settings:
  #     expand: false
  #     preserveQueryParamKeys:
  #       - id
  #       - flavour
  - name: FurAffinity
    origins:
      - https://furaffinity.net
    destinations:
      - https://xfuraffinity.net
  - name: FurTrack
    origins:
      - https://furtrack.com/p/
    origins_regex:
      - ^https:\/\/www\.furtrack\.com\/\w+\/(\w+[:/])?\w+(\(\w+\))?\/
    destinations:
      - https://furtrack.owo.lgbt/p/
  - name: Reddit
    origins:
      - https://reddit.com
    destinations:
      - https://vxreddit.com
      - https://rxddit.com
      - https://redditez.com
  - name: Bluesky
    origins:
      - https://bsky.app
    destinations:
      - https://fxbsky.app
  - name: Twitter
    origins:
      - https://twitter.com
      - https://x.com
    destinations:
      - https://fxtwitter.com
      - https://vxtwitter.com
      - https://fixupx.com
      - https://girlcockx.com
      - https://stupidpenisx.com
      - https://xeezz.com
      - https://xcancel.com
  - name: Instagram
    origins:
      - https://instagram.com
    destinations:
      - https://eeinstagram.com
      - https://kkinstagram.com
    settings:
      expand: false
  - name: TikTok
    origins:
      - https://tiktok.com
    destinations:
      - https://tfxktok.com
      - https://vxtiktok.com
      - https://tiktokez.com
  - name: Snapchat
    origins:
      - https://snapchat.com
    destinations:
      - https://snapchatez.com
  - name: Imgur
    origins:
      - https://imgur.com
    destinations:
      - https://imgurez.com
  - name: IFunny
    origins:
      - https://ifunny.com
    destinations:
      - https://ifunnyez.co.com
odesli:
  enabled: true
  country: CA # Optional, see https://linktree.notion.site/API-d0ebe08a5e304a55928405eb682f6741?pvs=97#0cb8da5b16994425a69a655072656370
features:
  link_recognition: true
  inline_queries: true
  stats: true
