about:
  code_repo: https://github.com/campfred/tg-previewsynth-bot
  owner: 12345678
  # status_updates: # Optional
  #   chat: -12345678901234
  #   # topic: 1234 # Optional within status_updates
links:
  - name: FurAffinity
    origins:
      - https://furaffinity.net
    destination: https://xfuraffinity.net
    enabled: true
  - name: Reddit
    origins:
      - https://reddit.com
    destination: https://rxddit.com
    enabled: true
  - name: Bluesky
    origins:
      - https://bsky.app
    destination: https://fxbsky.app
    enabled: true
  - name: Twitter
    origins:
      - https://twitter.com
      - https://x.com
    destination: https://fxtwitter.com
    enabled: true
  - name: Instagram
    origins:
      - https://instagram.com
    destination: https://ddinstagram.com
    enabled: true
  - name: TikTok
    origins:
      - https://tiktok.com
    destination: https://tfxktok.com
    enabled: true
apis:
  - name: Odesli
    enabled: true
    # api_key: ***
features:
  link_recognition: true
